<!DOCTYPE html>
<html>
  <head>
    <title>OmnicalcParams</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

<h5>    Part I Targets:
<%= link_to("Flexible Square Example", "/flexible/square/5") %>
<%= link_to("Flexible Square Root Example", "/flexible/square_root/5") %>
<%= link_to("Flexible Payment Example", "/flexible/payment/410/30/250000") %>
<%= link_to("Flexible Random Example", "/flexible/random/50/100") %>

</h5>

<h5>    Part II Targets:
<%= link_to("Square Form", "/square/new") %>
<%= link_to("Square Root Form", "/square_root/new/") %>
<%= link_to("Payment Form", "/payment/new/") %>
<%= link_to("Random Form", "/random/new/") %>

</h5>


    Part II Targets:  Square Form  Square Root Form  Payment Form  Random Form
    Part III Targets:  Word Count Form  Stats Form


    <%= yield %>
  </body>
</html>
